@import url(./utilities.css);

/* VARIABLES */
:root {
    /* COLORS */
    --red: rgb(234, 51, 35);
    --green: rgb(0, 118, 26);

    --bg-orange: rgb(249, 105, 28);
    --bg-black: rgb(26, 26, 26);

    /* SPACING */
    --header-height: 5rem;
}

/* GENERAL */
/* Layout */

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto
}

.flex {
    display: flex;
}

/* HEADER */
.header {
    height: var(--header-height);
    background-color: var(--bg-orange);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.header ul {
    width: 30%;
    color: #fff;
    font-weight: 600;
}

.header ul a:hover {
    text-decoration: underline;
}

.header a.logo {
    width: 40%;
}

.header img.logo {
    display: inline;
    width: 8.5rem;
}

.header .icons {
    width: 30%;
    color: #fff;
}

/* MAIN */

main {
    margin-top: var(--header-height);
}

.gallery .card {
    width: 32%;
}

.gallery img.hover {
    display: none;
    /* N.B: Meglio usare z-indez in quanto con display:none l'immagine non viene vista dagli screen reader */
}

.gallery .card-image:hover img.hover {
    display: block;
}

.gallery .card-image:hover img.default {
    display: none;
}

.gallery .brand,
.gallery .price {
    font-size: 0.75rem;
}

.gallery .item {
    font-size: 0.875rem;
}

.gallery .brand {
    font-weight: 100;
}

.gallery .label {
    top: 410px;
    left: 0;
}

.gallery .label strong {
    font-size: 0.625rem;
    padding: 5px 10px;
}

.gallery .hearth {
    top: 60px;
    right: 0;
    padding: 10px 25px 10px 11px;
}

.gallery .hearth:hover {
    color: #ff0000;
}

/* /MAIN */

/* FOOTER */

.footer {
    background-color: rgb(26, 26, 26);
    color: #fff;
}

.footer .info h5 {
    font-size: 1rem;
}

.footer .info ul {
    font-size: 0.75rem;
}

.footer .info a:hover {
    text-decoration: underline;
}

.footer .social h6 {
    font-size: 0.75rem;

}

.footer .social ul {
    font-size: 1.25rem;
}