/* POSITION */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* POSITIONING */
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.vertical-align-middle {
    vertical-align: middle;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* SPACING */
.pt-1 {
    padding-top: 0.25rem;
}

.pt-12 {
    padding-top: 3rem;
}

.pb-12 {
    padding-bottom: 3rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.gap-3 {
    gap: 0.75rem;
}


/* TEXT */
.white {
    color: rgb(255, 255, 255);
}

.red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--green);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.line-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}