@import url(./utilities.css);
@import url(./typography.css);

:root {
    /* COLORS */
    --blue: #2e45cc;
    --green: #04df6c;
    --black: #3d3a38;
}

/* HEADER */

.header {
    height: 100px;
}

.header .menu a:hover {
    text-decoration: underline;
}

.header .current-page {
    color: rgb(51, 68, 196);
}

/* /HEADER */

/* HERO */
.hero {
    height: 540px;
}

.hero img {
    object-position: center;
}

.hero-text {
    background-image: url(../img/banner-bg.png);
}

.hero-text p {
    padding: 2.5rem 3rem;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
}

.hero-text .btn {
    display: inline-block;
    border: 1px solid var(--black);
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.125rem;
    font-weight: 500;
}

.hero-text .btn:hover {
    color: #fff;
    background-color: var(--black);
}

/* /HERO */

/* FEATURES */
.features .text-col > div {
    padding-bottom: 2.5rem;
}

.features .text-col > div:last-child {
    padding-bottom: 0;
}

.features .text-col p {
    padding-top: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* /FEATURES */

/* REVIEWS */
.review > div {
    padding: 0 2.75rem;
}

.reviews i {
    padding: 1rem 0;
}

.review p.author {
    font-weight: 600;
}

/* /REVIEWS */

/* COLLECTION */
.collection .price {
    color: var(--green);
}

.collection i {
    padding-top: 1rem;
}

.collection h4 {
    font-weight: 500;
    font-size: 1.75rem;
}

.collection .price {
    font-size: 1.75rem;
    font-weight: 700;
}

/* /COLLECTION */

/* FAQ */

.faq img {
    align-self: flex-start;
}

.faq-text details {
    padding-bottom: 3.25rem;
}

.faq-text details:last-child {
    padding-bottom: 0;
}

.faq-text summary {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: var(--black);
    font-size: 1.5rem;
}

.faq-text summary::marker {
    content: "";
}

.faq-text hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.faq-text p {
    padding-left: 20px;
    padding-right: 20px;
}

/* /FAQ */